<h1>Cart</h1>
<div *ngIf="items.length > 0" class="list-products">
  <div *ngFor="let product of items" class="one-product">
    <div *ngIf="product.name" class="title-product">{{ product.name }}</div>
    <div *ngIf="product.price" class="price-product">
      {{ product.price | currency }}
    </div>
  </div>

  <div class="next-step">
    <button routerLink="/shipping">Go to shipping prices</button>
    <br /><br />
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name</label>
        <input id="name" value="" type="text" formControlName="name" />
      </div>
      <div>
        <label for="address">Address</label>
        <input id="address" value="" type="text" formControlName="address" />
      </div>
      <button type="submit">Purchase</button>
    </form>
  </div>
</div>
